body {
  background-color: #121212; 
  color: #ffffff; 
  font-family: 'Arial', sans-serif;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 350px;
  padding: 20px;
  background-color: #232323; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center; 
}

h1 {
  color: #4a90e2; 
  margin-bottom: 20px;
}

input[type=text], input[type=password], input[type=email] {
  width: 70%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #333333; 
  color: white; 
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #444444;
  outline: none;
}

button {
  background-color: #4a90e2; 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #333;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

.details-section {
  margin-bottom: 30px; 
}

table {
  width: 80%; 
  margin: 0 auto; 
  border-collapse: separate;
  border-spacing: 0 10px; 
}

th, td {
  padding: 15px; 
  border: 1px solid #333; 
  background-color: #232323; 
  color: #fff; 
  text-align: center; 
}

th {
  padding: 20px; 
  font-size: 1.1em; 
  background-color: #121212; 
}
